<br><br><br>
<h1 class="titulos_sesion">Editar Gauchada</h1>

<%= render 'form', gauchada: @gauchada %>
<br>
<%= link_to 'Ver gauchada', @gauchada,:class => 'link_gauchadas' %> 
<%= link_to 'Ver todas las gauchadas', gauchadas_path, :class => 'link_gauchadas' %>
