<br><br><br>
<h1 class="titulos_sesion">Todas las Gauchadas</h1>
<br>
<section class="home_gauchadas">

<%= 
   render 'gauchadas/show_all_gauchadas'  %>

<%= link_to 'Nueva gauchada', new_gauchada_path, :class => 'link_gauchadas' %>
<p id="notice"><%= notice %></p>
</section>