<section id="portada"><img src="/assets/Portada.png"></div></section>

<section class="home_gauchadas">

<h1 id="titulo_inicio">Gauchadas</h1>
  <%=  
   render 'gauchadas/show_all_gauchadas'  %>
    
</section>